<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Manage Version
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="version-option">
            <div>
                <h2>Website</h2>
                    <mat-checkbox class="manage-version-options">Lite Registration</mat-checkbox>
                    <mat-checkbox class="manage-version-options">Tip Screen</mat-checkbox>
                    <mat-checkbox class="manage-version-options">Ads</mat-checkbox>
                    <mat-checkbox class="manage-version-options">Expires</mat-checkbox>
    
                <h2>Shop</h2>
                    <mat-checkbox class="manage-version-options">Lite Registration</mat-checkbox>
                    <mat-checkbox class="manage-version-options">Tip Screen</mat-checkbox>
                    <mat-checkbox class="manage-version-options">Ads</mat-checkbox>
                    <mat-checkbox class="manage-version-options">Expires</mat-checkbox>
                <h2>Promotion</h2>
                    <mat-checkbox class="manage-version-options">Lite Registration</mat-checkbox>
                    <mat-checkbox class="manage-version-options">Tip Screen</mat-checkbox>
                    <mat-checkbox class="manage-version-options">Ads</mat-checkbox>
                    <mat-checkbox class="manage-version-options">Expires</mat-checkbox>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>


