table {
    width: 100%;
}

.mat-row {
    cursor: pointer;
    &:hover {
        background-color: #eee;
    }
}

.add-product-button {
    margin-right: 1.0%;
}

.delete-btn {
    z-index: 5;
    position: relative;
    display: flex;
    align-self: flex-end;
    bottom: 10%;
    margin-right: 2%;
}