<button mat-mini-fab color="accent" (click)="addSpecialUpdates()">
    <mat-icon>add</mat-icon>
</button>


<div fxLayout="row" fxLayoutAlign="center center" *ngFor='let update of specialUpdates'>
    <button mat-icon-button (click)="deleteSpecialUpdate(update)">
        <mat-icon class='warn-fg'>delete</mat-icon>
    </button>

    <mat-form-field>
        <input matInput placeholder="Promo Tag" [(ngModel)]='update.promoTag'>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Version" [(ngModel)]='update.version'>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="URL" [(ngModel)]='update.url'>
    </mat-form-field>

</div>